name: CI

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    name: cargo fmt
    steps:
      - uses: actions/checkout@v4

      - name: install stable toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: rustfmt

      - name: cargo fmt
        run: cargo fmt --all --check

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-12, macos-13, ubuntu-20.04, ubuntu-22.04]
    name: cargo clippy + test
    steps:
      - uses: actions/checkout@v4

      - name: install stable toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy

      - name: install dependencies
        run: |
           if [ "$RUNNER_OS" == "Linux" ]; then
             sudo apt install pkg-config libjavascriptcoregtk-4.0-dev
           fi
        shell: bash

      - name: cargo clippy
        run: cargo clippy --all-targets --workspace -- -D warnings

      - name: cargo test
        run: cargo test --workspace
